<%- include ('./includes/head.ejs') %>
<div class="text-center">
  <h4 class="m-5">صفحه مورد نظر پیدا نشد</h4>
  <a href="/" class="btn btn-outline-success">بازگشت به صفحه اصلی</a>
</div>
<%- include ('./includes/footer.ejs') %>
