<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <title><%= pageTitle %></title>
  </head>
  <body class="rtl">
    <div class="form-group">
      <h1>کارهای <small>روزمره</small></h1>

      <br />

      <form
        action="/admin/add-todo"
        method="POST"
        role="form"
        class="row w-50 justify-content-center mx-auto"
      >
        <div class="input-group">
          <input
            type="text"
            name="todo"
            class="form-control w-50"
            placeholder="کار امروز"
          />

          <div class="input-group-prepend">
            <button type="submit" class="btn btn-primary fa fa-plus"></button>
          </div>
        </div>
      </form>

      <div class="mx-auto w-50 mb-3 alert alert-primary row">
        <p class="d-inline col">
          کارهای انجام شده:
          <span class="badge badge-success badge-pill">0</span>
        </p>
        <p class="d-inline col">
          کارهای باقی مانده امروز:
          <span class="badge badge-warning badge-pill">0</span>
        </p>
      </div>

      <% if(todos.lenght > 0) { %>
      <h1>سلام</h1>
      <% } else { %>
      <div class="alert alert-warning w-50 mx-auto" role="alert">
        <h4 class="alert-heading">هیچ کاری برای امروز نداری</h4>
        <p>میتونی کارهای امروزت رو بالا بنویسی تا برات ثبت کنم.</p>
      </div>
      <% } %>
    </div>
  </body>
</html>
