@font-face {
  font-family: 'IranSans';
  src: url('../fonts/IRANSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IranSans' !important;
}

.form-group {
  text-align: center;
  padding-bottom: 25px;
}

#todo {
  margin: 0 auto;
  width: 500px;
}

a.close {
  float: right;
}
